.page-main {
  .usage {
    margin-bottom: 49px;
  }
}

@media (min-width: @tablet-width) {
  .page-main {
    .usage {
      padding-bottom: 60px;
      margin-bottom: 17px;
      border-bottom: 1px solid #ebebeb;
    }

    .usage__title {
      margin-bottom: 72px;
      font-size: 60px;
      line-height: 60px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    .promo {
      margin-bottom: 82px;
    }

    .promo__slogan {
      margin-bottom: 52px;
    }

    .program {
      margin-bottom: 73px;
    }

    .usage {
      padding-bottom: 0;
      margin-bottom: 40px;
    }
  }
}
