.page-catalog {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;

  &__title {
    margin: 0 0 41px 0;
    font-size: 36px;
    line-height: 36px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: @special-dark-grey-2;
  }
}

.catalog {
  &__item,
  &__item--more {
    list-style: none;
  }

  &__characteristic {
    font-family: "Arial", serif;
    font-size: 12px;
    line-height: 16px;
    color: @special-grey-dark;
  }

  &__bigger {
    font-family: "Arial", serif;
    font-size: 12px;
    line-height: 16px;
    color: @special-grey-dark;
  }
}

.catalog-extra {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 13px 0 19px 0;
  }

  &__product {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: @special-dark-grey-2;
  }

  &__term,
  &__desc {
    font-family: "Arial", serif;
    font-size: 14px;
    line-height: 14px;
    color: @special-grey-dark;
  }

  &__promo {
    font-family: "Arial", serif;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
}
