.page-catalog {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;

  &__title {
    position: relative;
    margin: 0;
    padding: 27px 0 41px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }

  &__title::before,
  &__title::after {
    position: absolute;
    content: "";
    left: -20px;
    height: 1px;
    width: 100vw;
    background-color: @base-grey-2;
  }

  &__title::before {
    top: 0;
  }

  &__title::after {
    bottom: 0;
  }

  .catalog__title {
    margin: 0 0 41px 0;
    font-size: 36px;
    line-height: 36px;
  }

  .catalog__list {
    margin-top: 0;
    padding-left: 0;
  }

  .page-catalog__catalog {
    margin-bottom: 20px;
  }
}

@media (min-width: @tablet-width) {
  .page-catalog {
    margin-top: 45px;

    &__title {
      font-size: 60px;
      line-height: 60px;
      padding: 0;
      margin-bottom: 45px;
    }

    &__title::before,
    &__title::after {
      content: none;
    }

    .page-catalog__catalog {
      margin-bottom: 70px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-catalog {
    margin-top: 57px;

    .page-catalog__title {
      margin-left: 7px;
    }
  }
}
