.catalog-extra {
  &__title {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: @special-dark-grey-2;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 13px 0 19px 0;
  }

  &__product {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: @special-dark-grey-2;
  }

  &__term,
  &__desc {
    font-family: "Arial", serif;
    font-size: 14px;
    line-height: 14px;
    color: @special-grey-dark;
  }

  &__promo {
    font-family: "Arial", serif;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
}
