.catalog {
  &__item,
  &__item--more {
    list-style: none;
  }

  &__title {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: @special-dark-grey-2;
  }

  &__characteristic {
    font-family: "Arial", serif;
    font-size: 12px;
    line-height: 16px;
    color: @special-grey-dark;
  }

  &__bigger {
    font-family: "Arial", serif;
    font-size: 12px;
    line-height: 16px;
    color: @special-grey-dark;
  }

  &__list {
    display: flex;
    flex-direction: row;
    row-gap: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 100%;
  }

  &__product {
    width: 100px;
  }

  &__order {
    width: 100%;
  }
}

@media (min-width: @tablet-width) {
  .catalog {
    &__item {
      width: 324px;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    &__item {
      width: 245px;
    }
  }
}
