.contacts {
  font-style: normal;
  font-weight: 400;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 20px 26px 20px;
    background-color: #ffffff;
  }

  &__invitation {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #111111;
  }

  &__address {
    font-family: "Arial", serif;
    font-size: 14px;
    line-height: 20px;
    color: @special-grey-dark;
  }

  &__map {
    width: 100vw;
    height: 360px;
    background-image: url("../img/mobile/location.jpg");
  }
}

@media (min-width: @tablet-width) {
  .contacts__content {
    padding: 56px 70px;
  }

  .contacts__invitation {
    width: 170px;
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__address {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  &__map {
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;

    &__content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 110px;
    }
  }
}
