.example {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  background-color: @base-gray-3;

  &__wrapper {
    display: grid;
    padding-top: 25px;
    padding-bottom: 40px;
  }

  &__title {
    margin: 0 0 40px 0;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
  }

  &__description {
    margin: 0;
    font-family: "Arial", serif;
    font-size: 14px;
    line-height: 18px;
    color: @special-grey-dark;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
    margin: 20px 0 40px 0;
  }

  &__item {
    max-width: 124px;
    text-align: center;
  }

  &__term {
    padding: 14px 20px 17px 20px;
    font-size: 24px;
    line-height: 24px;
    border: 1px solid @special-grey;
    box-sizing: border-box;
    border-radius: 3px;
  }

  &__desc {
    width: 50%;
    transform: translateY(-6px);
    margin: 0 auto;
    padding: 0 15px;
    font-family: "Arial", serif;
    font-size: 12px;
    line-height: 12px;
    color: @special-grey-dark;
    background-color: @base-gray-3;
  }

  &__item-important {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 1;
    width: 100%;
  }

  &__term-important {
    padding: 0;
  }

  &__desc-important {
    margin-left: 0;
  }

  &__term-important,
  &__desc-important {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  &__slider {
    text-align: center;
  }

  &__cats {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 232px;
    padding-left: 0;
  }

  &__cat {
    position: absolute;
    list-style: none;
  }

  &__after,
  &__before {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

@media (min-width: @tablet-width) {
  .example {
    background-color: transparent;

    &__title {
      margin-bottom: 63px;
      font-size: 60px;
      line-height: 60px;
    }

    &__description {
      margin-bottom: 54px;
      font-size: 16px;
      line-height: 24px;
    }

    &__list {
      justify-content: flex-start;
      column-gap: 42px;
    }

    &__term {
      font-size: 30px;
      line-height: 37px;
    }

    &__desc {
      font-size: 14px;
      line-height: 14px;
      background-color: #ffffff;
    }

    &__item {
      min-width: 124px;
      max-width: none;
    }

    &__item-important {
      width: auto;
      flex-direction: column;
      align-items: flex-end;
    }

    &__term-important,
    &__desc-important {
      font-size: 20px;
      line-height: 20px;
    }

    &__range {
      width: 426px;
    }
  }
}

@media (min-width: @desktop-width) {
  .example {
    &__wrapper {
      column-gap: 193px;
    }

    &__slider {
      grid-column: 2;
      grid-row: 1 / 4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 591px;
    }

    &__list {
      row-gap: 55px;
    }

    &__item-important {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      column-gap: 63px;
    }
  }
}
