.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;

  &__wrapper-nav {
    position: relative;
  }

  &__toggle {
    width: 24px;
    height: 16px;
    background-image: url("../img/icons/burger.png");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
  }

  &__nav {
    display: none;
  }

  &__list {
    padding-left: 0;
    list-style-type: none;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
  }
}

@media (min-width: @tablet-width) {
  .page-header__logo-title {
    margin-left: 20px;
    margin-right: auto;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__nav {
    display: block;
  }

  .page-header__list {
    display: flex;
    align-items: center;
    column-gap: 35px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header__link {
    color: #000000;
  }

  .page-header__wrapper-nav {
    z-index: 1;
  }
}
