.page-footer {
  background-color: @base-gray;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 51px;
    padding-bottom: 22px;
  }

  &__logo-title:hover {
    opacity: 0.8;
  }

  &__logo-title:active {
    opacity: 0.6;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 34px;
    row-gap: 20px;
    width: 100%;
    padding: 20px 0 15px;
    margin-top: 27px;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
  }

  &__item {
    list-style: none;
  }

  &__link {
    display: block;
    fill: @special-grey-2;
  }

  &__facebook {
    stroke: @special-grey-2;
  }

  &__link:hover {
    fill: @base-green;
  }

  &__facebook:hover {
    stroke: @base-green;
  }

  &__link:active {
    opacity: 0.3;
  }

  &__copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    align-self: flex-start;
  }

  .page-footer__academy-text {
    font-family: "Arial", serif;
    font-size: 16px;
    line-height: 18px;
    color: @special-grey-dark;
    text-decoration: none;
  }

  &__academy-logo {
    width: 27px;
    height: 34px;
    fill: @special-grey-2;
  }

  &__copyright:hover &__academy-logo,
  &__copyright:active &__academy-logo {
    fill: @base-green;
  }

  &__copyright:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    &__wrapper {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-top: 58px;
      padding-bottom: 55px;
      background-color: @base-gray;
    }

    &__social {
      margin: 0;
      padding: 0;
      border: none;
    }

    &__copyright {
      align-self: auto;
      flex-shrink: 0;
      width: auto;
    }

    &__academy-logo {
      margin-left: 22px;
    }
  }
}
