.program {
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
    padding-left: 0;
    margin: 0 0 20px 0;
    list-style: none;
  }

  &__item {
    position: relative;
    box-sizing: border-box;
    padding: 30px 33px 18px 20px;
    background-color: @base-gray;
  }

  &__title {
    margin: 0 0 31px 0;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
  }

  &__title::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__title--slim,
  &__title--gain {
    padding-left: 71px;
  }

  &__title--slim::before {
    width: 50px;
    height: 53px;
    top: 23px;
    left: 22px;
    background-image: url("../img/cat-back-slim.svg");
  }

  &__title--gain::before {
    left: 13px;
    top: 24px;
    width: 67px;
    height: 50px;
    background-image: url("../img/cat-back-gain.svg");
  }

  &__description {
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 21px;
    font-family: "Arial", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: @special-grey-dark;
    border-bottom: 1px solid #d9d9d9;
  }

  &__link {
    position: relative;
    margin-top: 15px;
    padding-right: 39px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
  }

  &__link::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 24px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../img/icons/arrow-small.svg");
  }

  &__link:hover::after,
  &__link:active::after {
    background-image: url("../img/icons/arrow.svg");
  }

  &__link:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .program {
    margin-bottom: 50px;

    &__item {
      padding-left: 51px;
      padding-right: 316px;
      padding-top: 77px;
      padding-bottom: 53px;
    }

    &__title {
      padding-left: 0;
      margin-bottom: 24px;
      font-size: 36px;
      line-height: 36px;
    }

    &__list {
      row-gap: 35px;
      margin-bottom: 0;
    }

    .program__title--slim::before {
      width: 200px;
      height: 210px;
      top: 80px;
      right: 62px;
      left: auto;
    }

    .program__title--gain::before {
      width: 268px;
      height: 229px;
      top: 79px;
      right: 29px;
      left: auto;
    }

    &__description {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 24px;
      border-bottom: none;
    }

    &__link {
      font-size: 20px;
      line-height: 30px;
      padding-right: 50px;
    }
  }
}

@media (min-width: @desktop-width) {
  .program {
    &__list {
      flex-direction: row;
      column-gap: 80px;
    }

    &__item {
      width: 570px;
      padding: 77px 61px 55px 60px;
    }

    &__title {
      padding-left: 163px;
      margin-bottom: 73px;
    }

    &__list:first-child &__title::before {
      width: 100px;
      height: 106px;
      top: 41px;
      left: 52px;
      right: auto;
    }

    &__list:last-child &__title::before {
      width: 134px;
      height: 100px;
      top: 43px;
      left: 42px;
      right: auto;
    }

    .program__description {
      margin-bottom: 5px;
    }
  }
}
